<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EpiKorean</title>
    <!-- fyi, we are HARDCODING the head title so that the tab name will stay the same throughout the website -->
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- remember, if you're going to use bootstrap or just import some other css framework,
    make sure to link that BEFORE your stylesheet -->
</head>

<body>
    <h1 class="title freddy">EpiKorean</h1><hr>
    <nav class="flex-ctr freddy">
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/recipes">Recipe List</a>
            </li>
            <li>
                <a href="/recipes/random">Random Recipe</a>
            </li>
            <% if (user) { %>
            <li>
                <a href="/users/<%= user._id%>">My Account</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>    
            <% } else { %>
                <a href="/auth/google">Login with Google</a>
            <% } %>
            </li>
        </ul>
    </nav><hr>
    <h1 class="page-title freddy"><%= title %></h1>
    <!-- title is passed in as an optional parameter (aka "locals") to the res.render() function; 
    locals is an object whose properties define local variables for the VIEW;
    you can read more in the documentation here: https://expressjs.com/en/api.html#res.redirect;
    note that the business logic for the embedded js is located in the controller -->