<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>EpiKorean</title>
</head>

<body>
    <img src="/images/landing.png" style="max-width: 100%">
    <div class="img-wrapper">
        <a href="/home"><img src="/images/continue.png" style="max-height: 50px"></a>
    </div>
</body>

</html>