<%- include("../partials/header") %>

<ul>
    <% recipes.forEach(recipe => { %>
        <li>
            <a href="/recipes/<%= recipe._id%>"> <%= recipe.name%> </a>
        </li>
    <% }); %>
</ul>




<%- include("../partials/footer") %>