<%- include("../partials/header") %>

<form action="/users/<%= user._id%>/recipes" method="POST" autocomplete="off">
    <label>Recipe Name:
        <input type="text" name="name">
    </label><br>
    <label>Description:
        <br><textarea name="description" id="" cols="40" rows="10"></textarea>
    </label><br>
    <label>Ingredients (separate items with commas):
        <br><textarea name="ingredients" id="" cols="40" rows="10"></textarea>
    </label><br>
    <label>Instructions (separate items with commas):
        <br><textarea name="instructions" id="" cols="40" rows="10"></textarea>
    </label><br>
    <label>Image URL:
        <input type="text" name="imageURL">
    </label><br>


    <input type="submit">
</form>


<%- include("../partials/footer") %>